header{
    background-color: white;
    text-align: right;
    list-style-type:none ;
    white-space: nowrap;
    display: inline;
}
.headerList{
    width: 100%;
    white-space: inherit;
    display: inline;
    tab-size: 2;
    list-style-type: none;
    margin: 0;
    padding:0;
}
.MainGame{
position: relative;
text-align: center;
}
.Content{
    text-align: center;
    position: absolute;
    top:30%;
    left: 30%;
   
}
.Effects{
    text-align: center;
    position: absolute;
    top:30%;
    left: 30%;
}

.EffectAnimation{
    animation-name: disapear;
    animation-duration: 0s ;
    animation-direction: normal;
    animation-iteration-count: 1;

}
.HitAnimation{
    animation-name: hit;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 4;

}
.HitAnimationAlt{
    animation-name: hitAlt;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 4;

}
Footer{

}
.Shop{
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: white;
    width: auto;
    height: auto;
}

.Character{
   outline-style: solid; 
   height: 50%;
   width: 50%;
}
.Score{
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: white;
}
@keyframes disapear {
    from{
        opacity: 100;
        display: inline;}
    to{
        opacity: 0;
        display: none;
    }
    
}
@keyframes hit {
    from{width: 190%; height: 100%;}
    to{width: 170%; height: 80%;}
}
@keyframes hitAlt {
    from{width: 190%;}
    to{width: 170%;}
}